@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "ViewBag";
}

<main>
    <h1>PassUsingViewBag</h1>
    <p><b>Rand Value First: @ViewBag.first</b></p>
    <p><b>Rand Value Second: @ViewBag.second</b></p>
    <b>Add:</b>
    <p>@ViewBag.first + @ViewBag.second = @ViewBag.sum</p>
    <b>Sub:</b>
    <p>@ViewBag.first - @ViewBag.second = @ViewBag.subtract</p>
    <b>Mul:</b>
    <p>@ViewBag.first * @ViewBag.second = @ViewBag.mul</p>
    <b>Div:</b>
    <p>@ViewBag.first / @ViewBag.second = @ViewBag.divide</p>
</main>