@model Dictionary<String, String>

@{
    Layout = "_Layout";
}

@{
    ViewBag.Title = "Model";
}

<main>
    <h1>PassUsingModel</h1>
    <p><b>Rand Value First: @Model["first"]</b></p>
    <p><b>Rand Value Second: @Model["second"]</b></p>
    <b>Add:</b>
    <p>@Model["first"] + @Model["second"] = @Model["sum"]</p>
    <b>Sub:</b>
    <p>@Model["first"] - @Model["second"] = @Model["subtract"]</p>
    <b>Mul:</b>
    <p>@Model["first"] * @Model["second"] = @Model["mul"]</p>
    <b>Div:</b>
    <p>@Model["first"] / @Model["second"] = @Model["divide"]</p>
</main>
